<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />

<!-- If you delete this meta tag World War Z will become a reality -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>众筹发起人</title>
<!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
<link data-th-href="@{/cij/foundation/css/normalize.css}"	rel="stylesheet" href="css/normalize.css" />
<link data-th-href="@{/cij/foundation/css/foundation.css}" rel="stylesheet" href="css/foundation.css" />
<link data-th-href="@{/cij/foundation-icons/foundation-icons.css}" rel="stylesheet" href="css/foundation.css" />

<link data-th-href="@{/cij/css/font-awesome.min.css}" rel="stylesheet"	type="text/css" href="css/font-awesome.min.css" />
<link data-th-href="@{/cij/css/themes.less}" rel="stylesheet" type="text/less" href="css/themes.less" />


<script data-th-inline="javascript">
	Cfg = {};
	Cfg.contextPath = /*[[ ${#httpServletRequest.getContextPath()} ]]*/'';
</script>
<script data-th-src="@{/cij/js/less-1.7.3.min.js}"	src="js/less-1.7.3.min.js"></script>
<script data-th-src="@{/cij/foundation/js/vendor/modernizr.js}"	src="js/vendor/modernizr.js"></script>
</head>
<body>
	<div>
		<div class="row" style="padding-top: 100px">
			<form method="post" action="./sponsor/vo_save_edit"
				accept-charset="UTF-8" enctype="multipart/form-data">
				<div class="login-box">
					<h3>众筹发起人信息</h3>
					<input type="hidden" name="id" data-th-value="${id}"/>
					<input type="hidden" name="crowdfundingId" data-th-value="${crowdfundingId}"/>
					<div class="row">
						<div class="large-4 small-12 columns">
							<label>发起人名称 <input type="text" name="sponsorName"  data-th-value="${crowdfundingSponsor}?${crowdfundingSponsor.sponsorName}" 
								required="" />
							</label>
<!-- 							<small class="error">发起人名称不能为空</small> -->
						</div>
					</div>
					<div class="row">
						<div class="large-4 small-12 columns">
							<label>发起人头像 <input type="file" name="sponsorHeadFile" required=""/>
							</label>
<!-- 							<small class="error">发起人头像未设置</small> -->
						</div>						
					</div>					
					<div class="row">
						<div class="large-4 small-12 columns">
							<label>手机 <input type="text" name="phone" required="" data-th-value="${crowdfundingSponsor}?${crowdfundingSponsor.phone}"/>
							</label>
<!-- 							<small class="error">手机未设置</small> -->
						</div>
					</div>
					<div class="row">
						<div class="large-4 small-12 columns">
							<label>邮箱 <input type="text" name="email" required="" data-th-value="${crowdfundingSponsor}?${crowdfundingSponsor.email}"/>
							</label>
<!-- 							<small class="error">邮箱未设置</small> -->
						</div>
					</div>
					<div class="row">
						<div class="large-4 small-12 columns">
							<label>联系人名称 <input type="text" name="contactName"
								required="" data-th-value="${crowdfundingSponsor}?${crowdfundingSponsor.contactName}"/>
							</label>
<!-- 							<small class="error">联系人名称未设置</small> -->
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label>发起人简介 <input type="text" name="sponsorSummary"
								required="" data-th-value="${crowdfundingSponsor}?${crowdfundingSponsor.sponsorSummary}"/>
							</label>
<!-- 							<small class="error">发起人简介未设置</small> -->
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label>其它资料 <input type="file" name="otherInformationFile" required=""/>
							</label>
<!-- 							<small class="error">其它资料未设置</small> -->
						</div>
					</div>
					<div class="row confirm">
						<div class="small-12 columns">
							<button class="right button radius tiny" type="submit">提交审核</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script data-th-src="@{/cij/jquery/jquery-2.1.3.js}" src="js/vendor/jquery.js"></script>
	<script data-th-src="@{/cij/foundation/js/foundation.min.js}"	src="js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>

</body>
</html>